extends ../layout/index

block contenido
    div.col.text-center.mb-5
        h1.mt-5.p-3 Ecommerce   
        h4.m-3.text-capitalize= pagina

        div.container.col-5.mt-5.border.shadow.card.p-0
            h5.text-capitalize.card-header Hasta Luego  #{username}
            button#addProd.col.btn.btn-primary(onclick="return login()") Volver a Logearse

    script  #{function login () {window.location = '/api/login'}}
    
        