extends ../layout/index

block contenido
    div.col.text-center.mb-5
        h1.mt-5.p-3 Ecommerce       

        div.container.col-5.mt-5.border.shadow.card.p-0.text-white
            h5.text-capitalize.card-header.bg-success.mb-3 Su compra se realizó con éxito
            a(type="submit" class="btn btn-primary" href="/api/home") Volver a Home