header
    nav.navbar.navbar-expand-lg.bg-body-tertiar.fixed-top.bg-light.shadow
        div.container-fluid
            a.navbar-brand(href="/api/home") Ecommerce
            button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon

            div#navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.me-auto.mb-2.mb-lg-0
                    li.nav-item
                        a.nav-link.active(aria-current="page" href="/api/home") Home
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(role="button" data-bs-toggle="dropdown" aria-expanded="false") Categorias
                        ul.dropdown-menu
                            li
                                a.dropdown-item.text-capitalize(href="/api/category?category=shoes") shoes
                            li
                                a.dropdown-item.text-capitalize(href="/api/category?category=clothing") clothing
                ul.navbar-nav.d-flex.justify-content-end
                    li.nav-item
                        a#user.nav-link.active(aria-current="page" href="/api/chat" data-id= userId) Chat
                    li.nav-item
                        a#user.nav-link.active(aria-current="page" href="/api/profile" data-id= userId) Perfil
                    li.nav-item
                        a#cart.nav-link.active(aria-current="page" href="/api/cart" data-id= cartId) Cart
                    li.nav-item
                        button.col.btn.btn-danger.rounded-0.fs-5.p-0.mx-2.px-1(onclick="return logout()") Logout  

