extends ../layout/index

block contenido
    div.col.text-center
        h1 Ecommerce      
       
        if errores 
            div(class="")
                each error in errores 
                    p= error.msg 

        div.container.col-5.mt-5
            form.border.p-2.m-3.shadow(method="POST" action="/api/auth/register")
                h4.m-3= pagina
                div
                    label(for="name" class="form-label") Ingresa tu Nombre 
                    input(id="" placeholder="Tu Nombre" type="text" name="name" class="form-control")
                div.mt-3
                    label(for="lastname" class="form-label") Ingresa tu Apellido 
                    input(id="" placeholder="Tu Apellido" type="text" name="lastname" class="form-control")
                div.mt-3
                    label(for="phone" class="form-label") Telefono de Contacto 
                    input(id="" placeholder="Tu Numero" type="number" name="phone" class="form-control")
                div.mt-3
                    label(for="email" class="form-label") Email 
                    input(id="" placeholder="Tu Email" type="email" name="username" class="form-control")
                div.mt-3
                    label(for="password" class="form-label") Password 
                    input( id="" placeholder="Tu Password" type="password" name="password" class="form-control")
                div.mt-3
                    label(for="password" class="form-label") Repite tu Password 
                    input( id="" placeholder="Tu Password" type="password" name="confirm_password" class="form-control")
                div.m-3
                    a(href="/api/login") Tienes Cuenta? Logeate 
                    
                button(type="submit" class="btn btn-primary") Registrar  